{% extends "extras/main.html" %}
{% load static %}
{% block content %}
    <main class="flex justify-center items-center min-h-screen">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-2xl font-semibold text-center text-gray-800 mb-6">Login to NovaShare</h1>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                
                <div class="mb-4">
                    <label for="username" class="block text-gray-700">Username (or Email):</label>
                    <input type="text" id="username" name="username" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                </div>

                <div class="mb-6">
                    <label for="password" class="block text-gray-700">Password:</label>
                    <input type="password" id="password" name="password" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                </div>

                <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500">Login</button>
            </form>
        </div>
    </main>
{% endblock content %}

